{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title></title>
</head>
<body>
 <div class="container" style="background-color:#ccc">

          <img src="{% static 'img/logo plus.png' %}" style="width:110pt; margin-top:10pt; margin-left:100pt">

          <div  style="margin-top:-90pt; margin-left:250pt"><h1 style="color:green">WHOLPHINPLUS COPERATION</h1>

          <div><H3 style="color:#e83e8c; margin-left:100pt">THE FUTURE IS NOW</H3>
          </div>
          </div>


<div style="margin-top:50pt"><center>
     <h3 style="color:green"> Wholphinplus Upcoming Event</h3><br>
    <h5>This is to bring to the general public the upcoming events at Wholphinplus<br>
        Corperation on the 30th of october, 2020. Wholphinplus first graduation ceremony/web<br>
        developers project defence.<br>
    </h5></center>
    <br>
</div>
</div>



</body>
</html>