{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>comment</title>
</head>
<body>
{% include 'navbar.html' %}
{% block content %}

<div class="container"  style="margin-top:20px; justify-content:center;display:flex">
   <div class="jumbotron" style="width:700px; display:flex">
<form method="POST" action="">
    {% csrf_token %}
    {{comp.name.label_tag}}{{comp.name|linebreaks}}
    <div style="margin-left:300px;margin-top:-75px;color:black">{{comp.phone.label_tag}}{{comp.phone|linebreaks}}</div>
{{comp.email.label_tag}}{{comp.email|linebreaks}}
    <div style="margin-left:300px;margin-top:-80px">{{comp.complaint.label_tag|linebreaks}}{{comp.complaint}}</div><br>
<div style="display:flex; justify-content:flex-start"><input type="submit"  class="btn btn-success" style="display:flex; justify-content:flex-start"></div>
</form>

   </div>
</div>

{% endblock %}
</body>
</html>