{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'icon-font/css/all.min.css' %}">
</head>
<body>
{% include 'navbar.html' %}
<br>
<center>
<h4><i> All payment should be carried out with the following bank details</i></h4><br>

<p><h5><i style="color:green"><i class="fas fa-piggy-bank"></i> United Bank for Africa</i></h5>
   <p> <h5 ><i style="color:green"><i class="fas fa-user"></i> Wholphinplus</i></h5>
    <p> <h5><i style="color:green"><i class="fas fa-piggy-bank"></i> 2058501519</i></h5>
    </center>


  <script src="{% static 'icon-font/js/all.js' %}"></script>
</body>
</html>