{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>comment</title>
</head>
<body>
{% include 'navbar.html' %}
{% block content %}

<div class="container"  style="margin-top:20px; justify-content:center;display:flex">
   <div class="jumbotron" style="width:700px; display:flex">
<form method="POST" action="">
    {% csrf_token %}
    {{com.name.label_tag}}{{com.name|linebreaks}}
    <div style="margin-left:300px;margin-top:-75px;color:black">{{com.phone_number.label_tag}}{{com.phone_number|linebreaks}}</div>
{{com.email.label_tag}}{{com.email|linebreaks}}
    <div style="margin-left:300px;margin-top:-80px">{{com.comment.label_tag|linebreaks}}{{com.comment}}</div><br>
<div style=" justify-content:center;display:flex"><input type="submit"  value="Drop" class="btn btn-success"></div>
</form>

   </div>
</div>
    </div>
{% endblock %}
</body>
</html>